<style>
    .header_table {
        width: 100%;
        border-collapse: collapse;
    }

    .header_td {
        padding: 10px;
        border: 1px solid #ddd;
    }

    .header_a {
        text-decoration: none;
        color: #007bff;
    }

    .header_a:hover {
        text-decoration: underline;
    }
</style>
<table class="header_table">
    <tr>
        <td class="header_td">М Т Логотип</td>
        <td class="header_td"><a class="header_a" href="{% url 'users:user_home' %}">Главная</a></td>
        <td class="header_td"><a class="header_a" href="{% url 'pages:posts_list' %}">Посты</a></td>
        <td class="header_td"><a class="header_a" href="{% url 'users:users_list' %}">Пользователи</a></td>
    </tr>
</table>